* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #abd4e3;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
/*==============================*/

.animations {
  padding: 50px 30px;
}
.animations__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.animations__method {
  margin-bottom: 20px;
}
.animations__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.animations__item {
}
/*==============================*/

.item-animation {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;

  padding-bottom: 50px;
  border-bottom: 1px solid #424242;
}
.item-animation__body {
  display: flex;
  flex-direction: column;

  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.item-animation__title {
  font-size: 24px;
  font-weight: 600;
}
.item-animation__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-animation__description span {
  font-weight: 600;
  color: #0077df;
}
.item-animation__showing {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5px;
  flex: 1 1 auto;

  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  max-width: 50%;
}
/*==============================*/
/* Анимации блока "item-animation pulse" */

.pulse .item-animation__showing {
  justify-content: space-evenly;
  align-items: center;
  column-gap: 25px;
}
.pulse-effect {
  background-color: #905ed0a1;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  /* margin: auto; */
}
.circle {
  position: absolute;
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0.5;
  animation: pulse 1.5s ease-out infinite;
  transition: all 1.5s ease-out 0s;
}
.circle:nth-of-type(1) {
  animation-delay: -0.5s;
}
.circle:nth-of-type(2) {
  animation-delay: -1s;
}
.circle:nth-of-type(3) {
  animation-delay: -1.5s;
}

/* Кнопка */
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.25rem 1.7rem;
  background-color: rgba(69, 67, 178, 0.5);
  border-radius: 15px;
  border: none;
  outline: none;

  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;

  position: relative;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 15px;

  animation: pulse-l 1.5s ease-out infinite;
}
.button::after {
  animation-delay: 0.7s;
}

.button span {
  z-index: 2;
}
/*==============================*/
